<!DOCTYPE html>
<html lang="en">
	<head>
<script id="Users/tangbin/git/tangbindu.github.io/knowledge/webgl/example/water/dist/js/fragment.glsl" type="x-shader/x-fragment" >
// file=""precision mediump float;
// 定义常量
#define M_PI 3.1415926535897932384626433832795
// uniform float time;
varying vec2 resolution;
varying float time;
void main() {
  //动画
  vec2 sta = gl_FragCoord.xy*20.0/resolution;
  vec2 stas = gl_FragCoord.xy/resolution;
  float fa=abs(step(sin(sta.x+time/50.0)*.008+.4,stas.y)-1.0);
  vec4 colora=vec4(.9999,fa,.9999, fa);
  //动画b
  vec2 stb = gl_FragCoord.xy*20.0/resolution;
  vec2 stbs = gl_FragCoord.xy/resolution;
  float fb=abs(step(sin(stb.x+time/50.0)*.008+.395,stbs.y)-1.0);
  vec4 colorb=vec4(fb,.9999,.9999, fb);
  gl_FragColor = colora-colorb;
}





</script>

		<meta charset="{+IO.encoding+}" />
		<meta name="generator" content="JsDoc Toolkit" />
		<title>{+data.subtitle+} | <if test="JSDOC.opt.D.title">{+JSDOC.opt.D.title+}<else />JsDoc Reference</if></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="mobileoptimized" content="0" />
	
		<link rel="stylesheet" href="{+Link.base+}css/all.css" media="all" />
		<link rel="stylesheet" href="{+Link.base+}css/handheld.css" media="only screen and (max-width: 660px)" />
		<link rel="stylesheet" href="{+Link.base+}css/handheld.css" media="handheld" />
		<link rel="stylesheet" href="{+Link.base+}css/screen.css" media="screen and (min-width: 661px)" />

		<script src="{+Link.base+}javascript/all.js"></script>
		<!--[if lt IE 9]>
			<script src="{+Link.base+}javascript/html5.js"></script>
		<![endif]-->
	</head>

	<body>
