/*	
*font-color
*/
$themeColor:#ff7f00;
$whiteColor:#ffffff;
/*
*botton skin color variable
*/
//默认
$btnBgColor: #ffffff;
$btnBorderColor:#cacccd;
//默认active
$btnBgActiveColor: #f2f2f2;
$btnActiveColor:#f9b979;
//primary
$btnPrimaryBgColor: #ff7f00;
$btnPrimaryBorderColor: #ff7f00;
$btnPrimaryActiveColor:#f3b980;
$btnPrimaryBgActiveColor:#e67300;
//disabled
$btnDisabledColor:#ccc;
$btnDisabledBgColor: #e9ebec;
$btnDisabledBorderColor: #e9ebec;
$btnDisabledActiveColor:#ccc;
$btnDisabledBgActiveColor:#e9ebec;
