//c-border-tb
.c-border-tb{
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-image:none;
}
@media screen and (-webkit-min-device-pixel-ratio : 2) {
  .c-border-tb{
    border: 0;
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
    background-position: top, bottom;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, #e0e0e0)),-webkit-gradient(linear, left top, left bottom, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, #e0e0e0));
  }
}
