.c-row-style-1{
  font-size:.28rem;
  color:#777;
  .gap{
    padding:0 .1rem;
  }
  .ico{
    display:inline-block;
    width:.4rem;
    height:.4rem;
    line-height:.4rem;
    margin:0 .06rem;
    &:before { 
      content: '\3000'; 
    }
  }
}