.ec-textblock-list {
  overflow: hidden;
  li {
    float: left;
    padding: 0 10px;
    margin: 6px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border: 1px solid #DEDEDE;
    -webkit-box-sizing:border-box;
    border-radius: 30px;
    background-color:#fff;
    &:active {
      background-color: #e5e6e7;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) {  
    &>li{
      position: relative;
      border: 0
    } 
    &>li:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      border: 1px solid #DEDEDE;
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      -webkit-box-sizing: border-box;
      border-radius: 60px;
      pointer-events: none
    }
  }
}