.list{
  &>li{
    position: relative;
    margin:2px 0;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    h4{
      word-break:break-all;
      text-align: justify; 
    }
  }
  &>li:first-child{
    margin-top: 0px;
  }
  &>li:last-child{
    margin-bottom: 0px;
  }
}