.lm-btn-style-1{
  .con-wrap{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient:horizontal;
    -webkit-box-pack: center;
    color: #ff843a;
  }
  .lm-ico-gold-coins{
    width: 15px;
    height: 15px;
    margin-right:6px;
  }
}