.lm-ico-star{
  display: block; 
  width: .4rem;
  height: .4rem;
  background-position:center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAilBMVEUAAAD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwD/xwAGnk7KAAAALXRSTlMA9QHm0E03LAf5vKKbYBQEsKuOc2RYQCgaDPfe2MjDtJZ7bCHv66aJhDsxMA8o3/SOAAAA+UlEQVQ4y43U51LDMBAE4JV7i0tsTEIIpNBh3//1GBCM7ETS+ft9cxrNagWLbbfFIiVLLHFDMoZs80Qy/IKo4481JDF/5bfCXHNP7VEYXPFfAp9sRy5aOdD4gEdEo4JbwgnlDjKoOLWCXd3vOKOqT1tyB8VrD++Ya46Kdu0sojSiU37MTBx39IlSPRasKVDD34MW6VcXK0pUrPMI6Rcm0DYFfYraZNe7761OASbOLe1ezrgw7m2nJrAYu5xT6uBs2Cun3uCUciqF255G5P93jEHsvxZmWLbyBK8gkhdqo6mgoNStCiCpn0nmKWQxyR5LVCwaLJG1Na58A/U1Ze2Wya3nAAAAAElFTkSuQmCC);
}