.lm-ico-box{
  display: block;
  width: .66rem;
  height: .66rem;
  background-position:center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAkCAYAAAD/yagrAAABhklEQVRYR+3Wv0rDUBQG8O9YUCdBmqKDdZQg+gSKs80f8M8b6Bu41cW6tJuP4BuoQ9MbZ7UvoCDF0S5KUwQnFeqRxia0ReotKJzhZgmBM/zynfuREHrXa9W3PjLcSp4l3Cc7lJvxq1HXQgmoXXM2mSZCCcDEQPxZyLrqcgAa1bwiCGVJUDAOLTeoDEH9MxDvyILSueVWdwehynsEkBcFBZqWEyymUIlFSgJLChWXSWKRhgsVQ1s1r0SEI2FrjznMOM65QekbqjxFQEEkFAhzTuDE0Eh5TwDmJEIBPFtOME9tVVhgZJpCkTGL0MlTpPwtgC8kQwHapij0ymAURUMJFZJcpCQ8BkKKlMei0+zhqKXcGwKtScYyuJ7+5nWhVyf22OlOzS5pveP7y4PWXP/QxkEj9RnocHx/mmjjdHXs1U9nl7VW+ta+15rrH7L37n5evYECMInqHihzRgGYMo06LqZMpky6CZgy/ZKUKZPuUTJfptFlWrkGaF03ze7cvyXKVLf3b1PLF3cL7SG75n0uAAAAAElFTkSuQmCC);
}