//基础list+avatar+time=lm-list-type1
.lm-list-type1{
  li h4{
    padding-right:34px;
    time{
      position:absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      line-height:27px;
      color: #777;
    }
  }
}