.lm-progress{
  height: .1rem;
  width: 2.38rem;
  background-color: #d2d4dd;
  border-radius: .05rem;
  overflow: hidden;
  &>span{
    display: block;
    height: 100%;
    background-color: #614bff;
  }
}

