//lm-tab
.lm-tab{
  position:relative;
  z-index:5;
  overflow: hidden;
  .tab-nav{
    position: relative;
    z-index: 3;
    height:40px;
    line-height:40px;
    font-size: 15px;
    background-color: #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
    li {
      -webkit-box-flex:1;
      text-align: center;
      height: 100%;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-pack: center;
      span {
        display: block;
        height: 100%;
        padding: 0 5px;
        vertical-align: middle;
        -webkit-box-sizing:border-box;
        border-bottom: solid 3px transparent;
      }
      &.active span{
        border-bottom: solid 3px #8145e2;
      }
    }
  }
  .tab-content{
    position:relative;
    z-index: 1;
    background-color: #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-sizing: border-box;
    &>li{
      -webkit-box-flex:1;
      width: 0;
      min-height: 48px;
    }
  }
}
