.page-card{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .page_group{
    &>.page{
      background-position:left top;
      background-repeat: repeat;
    }
    height: 400%;
    width: 100%;
    .page{
      position: relative;
      height: 25%;
      width: 100%;
    }
  }
}