.reddot:after{
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #f74c31;
    border-radius: 8px;
    right: -4px;
    top: -4px;
    background-clip: padding-box;
}