.ui-btn-primary{
  background-color: #12b7f5;
  border-color: #12b7f5;
  background-image: -webkit-gradient(linear,left top, left bottom, color-stop(.5, #12b7f5), to(#12b7f5));
  color: rgb(255,255,255);;
  background-clip: padding-box;
  &:not(.disabled):not(:disabled):active,
  &.active{
    background: #21c0fc;
    border-color: #21c0fc;
    color: rgba(255,255,255,.5);
    background-clip: padding-box;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ui-btn-primary:before{
    border: 1px solid #12b7f5;
  }
}