.ui-list-function.ui-list-link .ui-list-info{
  padding-right: 90px;
}
.ui-list-function.ui-list-link .ui-btn{
  right: 30px;
}
@media (max-width: 320px) {
  .ui-list-function.ui-list-link .ui-list-info{
    padding-right: 85px;
  }
  .ui-list-function.ui-list-link .ui-btn{
    right: 25px;
  }
}