
*{
  padding: 0;
  margin: 0;
}
body{
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body{
  background-color: rgba(255,255,255,1);
  font-family:"iconfont","微软雅黑" !important;
}


@import "_animation";
//帮助
@import "_header";
//帮助
@import "_help";
//预览区
@import "_clip_img_wrap";
//配置栏
@import "_fun_board";
//loading
@import "_loading";


.font{
  font-family: "PingFangSC-Regular","Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  font-weight: 100;;
}
//舞台
#stage{
  position: fixed;
  display: -webkit-box;
  width: 100%;
  top: 48px;
  bottom: 0;
  z-index: 50;
}
#stage.in{
  #clip-img-wrap{
    #g-loading{
      display: none;
    }
    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
  }
}



::-webkit-scrollbar {
  width: 2px;
  height: 5px;
} 
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #288543;
} 
::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
  background-color: #7c2929;
} 
::-webkit-scrollbar-corner {
  background-color: black;
}