doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")  
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    title webgl手记
    script(src="../js/common/util.js")
    link(rel="stylesheet",href="../css/index.css")
    link(rel="stylesheet",href="../css/code.css")
  body(ontouchstart="")
    script(src="../js/common/cuon-matrix.js")
    -for(var i=0;i<22;i++)
      section(id="demo#{i}")
        canvas(id="demo#{i}_canvas")
        script(src="../js/demo#{i}.js")
    .category
    script(src="../js/common/jquery.min.js")
    script(src="../js/common/index.js")
    script(src="../js/common/run_prettify.js")











      