.c-row.c-row-style-1
  .tb-1.c-nowrap
      span
        span.ico.lm-ico-gold-coins
        span 帝王
      span 
        span.gap |
        span 首冲
      span 
        span.gap |
        span 这里是一段很长很长很长很长很长
  .tb 
    .block.c-row
      .ico.lm-ico-gold-coins
      span 161134