ul.ec-grid.ec-grid-img.ec-grid-4
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")