ul.ec-grid.ec-grid-img.ec-grid-info.ec-grid-2
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")
    .grid-info 
      .title 2016早春新款郑秀妍同款黄色印花连衣裙
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")
    .grid-info 
      .title 2016早春新款郑秀妍同款黄色印花连衣裙