ul.ec-grid.ec-grid-img.ec-grid-info.ec-grid-3
  li
    .grid-img
      span(style="background-image:url(https://dummyimage.com/90x90/8a62f0/ffffff&text=90x90)")
    .grid-info 
      .title 挑战5公里
      p 2017.5获得
  li
    .grid-img
      span(style="background-image:url(https://dummyimage.com/90x90/8a62f0/ffffff&text=90x90)")
    .grid-info 
      .title 挑战5公里
      p 2017.5获得

  li
    .grid-img
      span(style="background-image:url(https://dummyimage.com/90x90/8a62f0/ffffff&text=90x90)")
    .grid-info 
      .title 挑战5公里
      p 2017.5获得

  li
    .grid-img
      span(style="background-image:url(https://dummyimage.com/90x90/8a62f0/ffffff&text=90x90)")
    .grid-info 
      .title 挑战5公里
      p 2017.5获得