ul.ec-grid.ec-grid-img.ec-grid-2
  li
    .grid-img
      span(style="background-image:url()")
  li
    .grid-img
      span(style="background-image:url(https://tangbindu.github.io/static/img/ec-grid-img.jpg)")