//基础list+thumb+function
ul.lm-list.lm-list-thumb.lm-list-function.c-border-tb
  li
    .lm-thumb
      span(style="background-image:url(https://dummyimage.com/200x200/8a62f0/ffffff&text=200x200)")
    .list-info.c-border-b
      h4.c-nowrap 这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。
      p 这里是描述
    .list-function.c-border-b
      button.lm-btn.lm-btn-primary 开抢