table.table
  tr
    th 表头1
    th 表头2
    th 表头3
    th 表头4
  tr
    td 单元格1
    td 单元格1
    td 单元格1
    td 单元格1
  tr
    td(colspan=2) 单元格1
    td 单元格1
    td 单元格1
  tr
    td(rowspan=2) 单元格1
    td 单元格1
    td 单元格1
    td 单元格1
  tr
    td 单元格1
    td 单元格1
    td 单元格1