ul.ui-list.ui-list-avatar.ui-list-function.c-border-tb
  li.c-border-t
    .ui-avatar.ui-avatar-s
    .ui-list-info
      h4.c-nowrap 这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。
    .ui-btn 按钮
  li.c-border-t
    .ui-avatar.ui-avatar-s
    .ui-list-info
      h4.c-nowrap 这本书太赞了，每次看都有不一样的体会和感悟，超级喜欢！期待大结局。
    .ui-btn 按钮
