doctype html
html(data-use-rem)
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="description",content="")
    meta(name="keywords",content="")
    title 打点工具
    link(rel="stylesheet",href="../css/index.css")
  body(ontouchstart="")
    .workspace
      .c-row
        .tb
          .points-wrap#pointsWrap
        .tb
          .result-wrap
            //文本框组件
            textarea.textarea.c-border-tb(placeholder="这产生打点的数据")#resultTextarea
      .c-row
        .tb
          input(type="radio")
          input(type="radio")
          input(type="radio")
        .tb-1
          |这里有
    script(src="../js/jquery.min.js")
    script(src="../js/point.js")